.star {
  fill: rgba(250, 213, 80, 0.8);
  height: 2rem;
  position: absolute;
  width: 2rem;
}

.star-pointed-0 {
  left: 2rem;
  top: 2rem;
}

.star-pointed-1 {
  left: 4.25rem;
  top: 3.375rem;
  height: 1rem;
  width: 1rem;
}

.star-pointed-2 {
  left: 2.75rem;
  top: 4.25rem;
  height: 1rem;
  width: 1rem;
}

.star-pointed-3 {
  left: 4.25rem;
  top: 3.375rem;
  height: 1rem;
  width: 1rem;
}

.star-pointed-4 {
  right: 2rem;
  top: 2rem;
}

.star-pointed-5 {
  left: 2rem;
  bottom: 2rem;
}

.star-pointed-6 {
  right: 2rem;
  bottom: 2rem;
}

.star-pointed-7,
.star-pointed-8,
.star-pointed-9 {
  fill: rgba(250, 213, 80, 0.8);
  height: 1.5rem;
  width: 1.5rem;
}

.star-pointed-7 {
  right: calc(100% / 4 + 1%);
  top: 18vh;
}

.star-pointed-8 {
  right: calc(100% / 2 - 1%);
  top: 12vh;
}

.star-pointed-9 {
  left: calc(100% / 4);
  top: 18vh;
}
