.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-accent {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

.text-big,
.text-big-svg {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.65rem;
  font-weight: 600;
}

.twinkle-text {
  font-size: 3.25rem;
}

.text-cursive {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.text-wrapper {
  text-align: center;
}

.twinkle {
  pointer-events: none;
  position: absolute;
}

.twinkle text {
  fill: #FAC550;
}

.header-text,
.join-us {
  color: #F2C1D1;
  font-size: 3rem;
  font-weight: 600;
}

.header-text {
  margin-bottom: 2rem;
  margin-top: 15vh;
}

.body-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.footer-text {
  margin-bottom: 1.75rem;
}

.join-us {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.birthday-text {
  color: #FAC550;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.birthday-time {
  color: #FF91AF;
  font-size: 2rem;
}

.one-year-old {
  color: #FAC550;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.is-what-you-are {
  color: #FF91AF;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 4rem;
}

.one-year-old,
.twinkle-text,
.birthday-text {
  text-shadow: 0 0 0.2em #FAEA85;
}

.header-text,
.join-us {
  text-shadow: 0 0 0.2em #EEE;
}

.is-what-you-are,
.birthday-time {
  text-shadow: 0 0 0.2em #FFA1CF;
}
