.sparkle {
  height: 2rem;
  position: absolute;
  width: 2rem;
}

.sparkle path {
  fill: rgba(210,212,250, 1)!important;
}

.sparkle path:first-of-type {
  fill: rgba(210,212,250, 1)!important;
}

.sparkle path:last-of-type {
  fill: rgba(230,232,250, 1)!important;
}

.sparkle-1 {
  top: 45vh;
  left: 7.5rem;
}

.sparkle-2 {
  height: 1rem;
  top: 44vh;
  left: 10rem;
}
